.bg-transparent{
    background: linear-gradient(90deg, rgba(255,204,0,0.8) 0%, rgba(0,36,125,0.8) 50%, rgba(207,20,43,0.8) 100%) !important;
    width: 100%;
    position: sticky;
  top: 0;
}
.no-margin{
    margin: 0;
    max-width: none;    
}
.end{
    width: 100% !important;
}
.responsive-navbar-nav{
    width: 100% !important;
}